
$blue: #1c4aba;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Roboto, Arial, sans-serif;
  border: 10px dotted black;
  padding: 15px;
}

.error {
  color: red;
}

.padding-right-24 {
  padding-right: 24px;
}

#home-container {
  margin: 10px;

  #home-top-bar {

    display: table;
    width: 100%;

    #home-logo {
      display: table-cell;
      width: 95px;
    }

    #home-profile {
      display: table-cell;
      width: 90px;
    }
  }
}

.search {
  flex-grow: 1;
}

.logo {
  width: 95px;
  height: 95px;
  object-fit: contain;
}

.account-profile-image {
  width: 90px;
  height: 90px;
  object-fit: contain;
  border-radius: 50%;
}

.document-summary-container {
  cursor: pointer;
}

.document-summary-image {
  width: 400px;
  height: 300px;
  object-fit: contain;
  border: 2px solid #ccc;
}

.shared-with-container {
  height: 60px;
}

.shared-with-image {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 26px;
}

.shared-with-other {
  width: 60px;
  height: 60px;
  object-fit: contain;
  display: inline-block;
  background-color: $blue;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 28px;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  position:relative;
  left:-20px;
  bottom: 26px;
}

.separator {
  display: inline-block;
  width: 1px;
  height: 60px;
  background-color: #ccc;
}

.document-idx {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(./img/folder.png) no-repeat;
  background-size: 60px 60px;
  position: relative;
  bottom: 26px;
  font-size: 28px;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  margin-left: 24px;
}

.breadcrumb-link {
  color: #007bff;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
